<html>
  <head>
    <meta charset="utf-8">
    <title>Buy A Ticket Alt</title>
    <meta content="Buy A Ticket Alt" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://assets.website-files.com/5c48989a8f89e1684ff6c0d6/css/tixy-2-0.4198b83c3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:regular,italic,600,700,700italic,800" media="all">
</head>

<body class="body pattern-2">
  <div class="h-full row fill center">
  <a 
     [routerLink]="['/buy-a-local-ticket', eventId]"
     class="button w-button">
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="24" 
      height="24" 
      viewBox="0 0 24 24" 
      fill="none" 
      stroke="currentColor" 
      stroke-width="2" 
      stroke-linecap="round" 
      stroke-linejoin="round" 
      class="feather feather-credit-card icon move-left">
      <rect x="1" y="4" width="22" height="16" rx="2" ry="2">
      </rect>
      <line x1="1" y1="10" x2="23" y2="10"></line>
    </svg> Test buying a ticket</a>
  </div>
</body>
</html>